// category page

.categorypage-container {
  background: white;
  padding: 1rem 0;
}

.threeGrid-section {
  &-card {
    h4 {
      background: white;
      padding: 10px;
      font-weight: bold;
      font-size: 18px;
    }
  }
}

.grid-title {
  display: inline-block;
  border-bottom: 2px solid #1688CA;
  margin-bottom: 1rem;
  font-size: 1.8rem;
  font-weight: bold;
}

.rightsection {
  margin-top: 20px;

  .title {
    h5 {
      font-weight: bold;
      border-bottom: 2px solid #1688CA;
      display: inline-block;
    }
  }

  .mini-newscard {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 10px;

    figure {
      img {
        width: 90px;
        height: 80px;
        object-fit: cover;

      }
    }

    h6 {
      padding: 0 10px;
      font-weight: bold;
    }
  }
}

.module__title {
  font-size: 1.4rem;
  display: block;
  border-bottom: 2px solid white;
  padding-bottom: 5px;

  span {
    position: relative;

    &:after {
      position: absolute;
      content: '';
      height: 3px;
      width: 100%;
      background: #1688CA;
      bottom: -2px;
      left: 0;
    }
  }

}



// single page
.singlepage-container {
  background: white;
  margin-top: 5px;

  header h2 {
    font-weight: bold;
    margin: 20px 0 10px;
    font-size: 34px;
  }

  .editor-container {
    border-bottom: 1px solid #3333;
    margin-bottom: 10px;

    .editor-left {
      font-family: 'Noto Sans', sans-serif;
      display: flex;
      align-items: center;
      margin: 10px 0;

      img {
        width: 40px;
        border-radius: 50%;
        margin-right: 0.5em;
      }

      h5 {
        margin: 0;
        font-size: 14px;
      }
    }
  }

  .newscontainer {
    .mini-newscard {
      margin-top: 1rem;
      margin-bottom: 1rem;

      figure {
        height: 60px;
        width: 60px;
        border-radius: 50%;
        overflow: hidden;
      }

      .newscard-content {
        width: initial;

        h5 {
          font-size: 1.2rem;
          margin-top: 0;
          margin-bottom: 5px;
        }

        .content {
          margin-top: 0;
        }
      }
    }
  }

  article {
    .content-entry {
      margin-top: 1rem;

      p {
        font-size: 1.1rem;

        strong {
          font-size: 1.5rem;
        }
      }
    }
  }

  .tags-container {
    .uk-badge {
      padding: 15px;
      background: blue;
    }

    a:hover {
      color: red;
    }
  }

  .youropinion {
    background: gray;
    padding: 1%;
    color: white;
  }

  .relatednews-container {
    margin-top: 1rem;

    a {
      font-size: 1.4rem;
      font-weight: bold;
      color: blue;
      margin-top: 5px;
      display: block;
    }
  }

  .news-list {
    a {
      font-size: 1.4rem;
    }
  }


  blockquote {
    color: #777;
    float: left;
    font-size: 1.35em;
    line-height: 1.3em;
    margin: 10px 10px 10px 20px;
    padding: 10px;
    text-align: left;
    width: 300px;
    border: none;
    border-left: 6px solid #aaaaaa;
    background-color: #f8f8f8;
    position: relative;

    &:before {
      content: '';
      position: absolute;
      // background: url(../quotepng.png) no-repeat scroll 0 0;
      top: 0;
      left: 0;
      width: 32px;
      height: 64px;
    }

  }

}


.module2 {

  .module2-widget {
    background: white;
    padding: 10px;
    margin-bottom: 20px;
  }

  .media {
    flex-direction: column;
  }

  .media-list__item {
    margin-bottom: 0;
  }

  .media__content {
    position: relative;
    padding-top: 5px;
    background: transparent;

    .media__title {
      font-size: 16px;
      margin-top: 5px;
    }

    .media__link {
      color: #333;
      font-weight: bold;
      line-height: 1.4;
    }
  }
}

.section-ordering p {
  font-size: 16px;
  line-height: 20px;
  position: relative;
  border-top: 1px solid #eee;
  padding: 10px 0 10px 15px;
  margin: 0;
  display: block;

  &:before {
    position: absolute;
    top: 18px;
    left: 0;
    content: '';
    border-radius: 100%;
    background: #1688CA;
    height: 5px;
    width: 5px;
  }

  a {
    padding: 5px 0;
  }
}