.content-box-row{
  background: white;
  width: 100%;
  float: left;
  margin-bottom: 20px;
}

.content-box{
  padding: 15px 15px 5px 15px;

  //background: $orange-red;
}
.content-box--shadow{
  box-shadow: 0 7px 17px 0 rgba(23, 84, 116, 0.18)
}

.box-shadow{
  box-shadow:0 2px 4px rgba(0,0,0,0.2);
}